
h1{
   margin: 50px auto 0 auto;
   color: #11999E;
   font-family: 'Handlee', cursive;
   font-size: 5.625rem;
   
}
h2{
    color: #11999E;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}
h3{
    color: #11999E;
    font-family: 'Playfair Display', serif;
}
hr{
    border-style: dotted none none;
    border-width: 5px;
    width: 10%;
    border-color: #6f7976;
}
body{
    margin:0 ;
    padding-bottom: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.top-container{
    background-color: paleturquoise;
    position: relative;
    padding-top: 100px;
    padding-bottom: 0px;
    margin: 0px;
}
.middle-container{
    padding: 30px;
    background-color: papayawhip;
    color: #666057;
}
.bottom-container{
    background-color:#207388 ;
    padding: 20px;
    color: #a3ccc0;
}
.cloud1{
    position: absolute;
    right: 200px;
    top: 50px;
}
.cloud2{
    position: absolute;
    left: 200px;
    bottom: 400px;
}
.footer-link{
    color: #66BFBF
}
.skill-row{
    margin: 50px auto 50px auto;
    padding: 10px;
    text-align: left;
    width: 50%;
    line-height: 2;
}
.profile{
    padding:20px;
}
.profile-img{
    margin: 20px auto 0 auto;

}
.doodle-img{
    float: right;
    margin-left: 40px;
    width: 50%;
    height: 50%;
}
.code-img{
    float: left;
    margin-right: 40px;
    width: 50%;
    height: 50%;
}
.BUTTON_OVE {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: peachpuff;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    background-color: #75E0EB;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_OVE:hover {
    background: rgba(72, 193, 185, 0.86);
    border: solid #11999E 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
#desc{
    font-weight: normal;
}


